#title {
    max-width: 600px;
    min-width: 300px;
    min-height: 80px;
    line-height: 80px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: dimgrey;
    font-size: 36px;
}

#main_frame {
    max-width: 600px;
    min-width: 300px;
    min-height: 400px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px 10px darkgrey;
}

#drag_area_frame {
    max-width: 500px;
    min-width: 240px;
    min-height: 280px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#upload_img {
    width: 100px;
    height: 100px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#upload_txt {
    max-width: 500px;
    min-width: 240px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: dimgrey;
}

.btn {
    margin-top: 10px;
}

td {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#save_time_input {
    margin-top: 20px;
    color: dimgrey;
}

#process_frame {
    margin-top: 20px;
}

